@import 'variables.pcss';

@import './desktop-navigation_theme_light.pcss';
@import './desktop-navigation_theme_dark.pcss';

.desktop-navigation {
  display: flex;
  flex-direction: column;

  &__item-wrap {
    margin: var(--grid2) 0;
  }

  &__item {
    text-transform: capitalize;
    text-decoration: none;
    font-size: var(--font-size-600);
  }
}
