@import 'variables.pcss';

.desktop-navigation_theme_light {
  .desktop-navigation {
    &__item {
      color: var(--color-deep-purple-400);

      &:hover {
        color: var(--color-deep-purple-800);
      }

      &._active {
        color: var(--color-deep-purple-800);
      }
    }
  }
}
