@import 'variables.pcss';

.desktop-navigation_theme_dark {
  .desktop-navigation {
    &__item {
      color: var(--color-blue-100);

      &:hover {
        color: var(--color-deep-purple-50);
      }

      &._active {
        color: var(--color-deep-purple-50);
      }
    }
  }
}
