@import 'variables.pcss';

.signin {
  &__input {
    &:not(:last-of-type) {
      margin-bottom: var(--grid2);
    }
  }

  &__button {
    margin-top: var(--grid3);
  }

  &__signup {
    margin-top: var(--grid4);
  }
}
